<div class="block bg-white rounded px-8 pt-6 pb-8 mb-4">
<p id="notice", class="important-text text-xs"><%= notice %></p>
<%= link_to "Sign Out", destroy_user_session_path(), method: :delete   %> |
<%= link_to 'Back to Input', input_path %>
<div class="grid-cols-1 space-y-4">
<% @data_groups.each do |data_group| %>
  <div class="bg-white px-8 pt-2 pb-4 shadow-md" id='data-group-<%= data_group.id %>'>
    <div>

    <%= line_chart [{name: 'Averages', data: data_group.rolling_average(time_limit:7).pluck(:graph_time, :value)}, {name: data_group.name, data:data_group.measurement_data.pluck(:graph_time, :value)}], colors: ["#99c24d", "#2e4057"], min: data_group.graph_min, max: data_group.graph_max, class: "w-full" %>
    </div>
    <div>
    <%= link_to data_group.name, data_group_path(data_group), class: "text-md text-primary text-center w-1/3"%>
    </div>
  </div>
<% end %>

<%= button_to "Create New Tracker", new_data_group_path, :method => "get", class: "important-button" %>
</div>
