<%= link_to "Sign Out", destroy_user_session_path(), method: :delete   %> 

<p id="notice"><%= notice %></p>

<%= link_to 'Back to input', input_path %>

<% @data_groups.each do |data_group| %>
  <div class='data-group' id='data-group-<%= data_group.id %>'>
    Is div visible?
  </div>
<% end %>

<%= link_to 'New Data Group', new_data_group_path %>
