<%= link_to "Sign Out", destroy_user_session_path(), method: :delete   %> 

<p id="notice"><%= notice %></p>

<%= link_to 'Back to input', input_path %>

<% @data_groups.each do |data_group| %>
  <div class='data-group' id='data-group-<%= data_group.id %>'>
    <%= line_chart data_group.measurement_data.pluck(:graph_time, :value) %>
    <%= link_to data_group.name, data_group_path(data_group) %>
  </div>
<% end %>

<%= link_to 'New Data Group', new_data_group_path %>
