<div class="block bg-white rounded px-8 pt-6 pb-8 mb-4">
    <p id="notice", class="important-text text-xs"><%= notice %></p>

    <div>
        
        <%= link_to "Sign Out", destroy_user_session_path(), method: :delete %> |
        
        <% if @has_data %>
            
            <%= link_to "See charts",  data_groups_path %>
            
        <% end %>
    </div>
    <% if @data_groups.any? %>
        <%= form_tag '/save_input' do %>
            <div class="bg-white pt-6 pb-8 mb-4 mx-auto space-y-4">
                <% @data_groups.each do |data_group| %>
                    <div class="bg-white px-8 pt-2 pb-4 shadow-md">
                        <%= fields_for :measurement do |measurement| %>
                            <div class="flex flex-cols content-center">
                                <div>
                                <%= label_tag data_group.name, data_group.name + ':', class: "main-text text-sm font-bold m-2" %>
                                </div>
                                <div>
                                <%= measurement.number_field data_group.id, step: :any, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                                </div>
                                <div>
                                <%= label_tag data_group.unit, data_group.unit, class: "main-text text-sm font-bold m-2" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <%= submit_tag "Save", class: "bg-indigo-dye bg-android-green text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
        <% end %>
    <% end %>

</div>

