<div class="block overflow-scroll">
    <p id="notice", class="important-text text-xs"><%= notice %></p>

    <%= link_to "Sign Out", destroy_user_session_path(), method: :delete   %> 

    <%= form_tag '/save_input' do %>
        <div class="green-accent border-current bg-white border-solid rounded border-2">
        <% @data_groups.each do |data_group| %>
            <div class="green-accent bg-white border-solid border-2 border-current px-8 pt-6 pb-8 mb-0 mx-auto">
                <%= fields_for :measurement do |measurement| %>
                    <div class="grid-cols-3 width">
                        <div>
                        <%= label_tag data_group.name, data_group.name, class: "main-text text-sm font-bold mb-2" %>
                        </div>
                        <div>
                        <%= measurement.number_field data_group.id, step: :any, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                        </div>
                        <div>
                        <%= label_tag data_group.unit, data_group.unit, class: "main-text text-sm font-bold mb-2" %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
        </div>
        <%= submit_tag "Save" %>
    <% end %>

    <%= link_to "See charts",  data_groups_path %>
</div>

