<p id="notice"><%= notice %></p>

<%= link_to "Back to charts", data_groups_path %>

<p><%= @data_group.name %></p>
<%= line_chart @measurement_data.pluck(:graph_time, :value) %>
<div class='measurement-datum-heading', id='measurement-datum-value'>
  <p>Value</p>
</div>
<div class='measurement-datum-heading', id='measurement-datum-time'>
  <p>Measured at</p>
</div>
<% @measurement_data.each do |measurement_datum| %>
  <div class='measurement-datum' id='measurement-datum-<%= measurement_datum.id %>'>
    <p>value</p>
    <p>time</p>
    <%= link_to "Edit", edit_measurement_datum_path(measurement_datum) %>
    <%= link_to "Delete", measurement_datum_path(measurement_datum), method: :delete %>
  </div>
<% end %>

<%= link_to 'Edit', edit_data_group_path(@data_group) %> |
<%= link_to 'Back', data_groups_path %>
