<div class="block bg-white rounded px-8 pt-6 pb-8 mb-4">
<p id="notice"><%= notice %></p>

<%= link_to "Back to charts", data_groups_path %>

<div class="bg-white px-8 pt-2 pb-4 shadow-md">
<p><%= @data_group.name %> <%= link_to '(Edit)', edit_data_group_path(@data_group), class: "text-sm" %></p>
<%= render partial: 'data_groups/chart', locals: { data_group: @data_group } %>
</div>

<% @measurement_data.each do |measurement_datum| %>
  <div class='measurement-datum flex-cols px-8 pt-2 pb-4 shadow-md' id='measurement-datum-<%= measurement_datum.id %>'>
    <p>Value: <%= measurement_datum.value %></p>
    <p>Measured at: <%= measurement_datum.graph_time %></p>
    <%= link_to "Edit", edit_measurement_datum_path(measurement_datum) %> |
    <%= link_to "Delete", measurement_datum_path(measurement_datum), method: :delete %>
  </div>
<% end %>


</div>
