<%= form_with(model: measurement_datum, local: true, class: "bg-white shadow-md px-8 pt-6 pb-8 mb-4 mx-auto space-y-2") do |form| %>
  <% if measurement_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurement_datum.errors.count, "error") %> prohibited this measurement_datum from being saved:</h2>

      <ul>
        <% measurement_datum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value, class: "main-text text-sm font-bold mb-2" %>
    <%= form.text_field :value, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <% if form.object.graph_time %>
    <div class="field">
      <%= form.label :graph_time, class: "main-text text-sm font-bold mb-2" %>
      <%= form.datetime_select :graph_time, {}, html_options={ class: "shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Update", class: "bg-indigo-dye bg-android-green text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
