<p id="notice"><%= notice %></p>

<%= line_chart @measurement_data.pluck(:graph_time, :value) %>
<div class='measurement-datum-heading', id='measurement-datum-value'>
  <p>Value</p>
</div>
<div class='measurement-datum-heading', id='measurement-datum-time'>
  <p>Measured at</p>
</div>
<%= @measurement_data.each do |measurement_datum| %>
  <div class='measurement-datum-heading', id='measurement-datum'>
  <div class='measurement-datum' id='measurement-datum<%= measurement_datum.id %>'>

  </div>
<% end %>

<%= link_to 'New Measurement Datum', new_measurement_datum_path %>
